@model HomePageModel

@{
    Layout = "_CustomLayout";
    ViewData["Title"] = "HomePage";
    List<Category> categoryList = Model.Categories;
    List<Product> productList = Model.Products;
    string message = Model.Message;
    Campaign campaign = Model.Campaign;
}

<h1 class="page-title">Home Page</h1>

<div class="content-container">
    <div class="content-left">
        <ul class="category-list">
            @foreach(var category in categoryList){
                <li>@category.Name</li>
            }    
        </ul>
        <div class="campaign">
            <img class="campaign-img" src="@campaign.ImageUrl" />
            <h4 class="campaign-title">@campaign.Title</h4>
            <p class="campaign-description">@campaign.Description</p>
        </div>
        <div class="message-container">
            <div class="message">
                <p class="message-text">@message</p>
            </div>
        </div>
    </div>
    <div class="content-right">
        @foreach(var product in productList){
            <div class="product-card">
                <div class="product-name">@product.Name</div>
                <div class="product-price">@product.Price</div>
            </div>
        }
    </div>
</div>


