@model HomePageModel
@{
    ViewData["Title"] = "Kemal Kodyazar";
}


<!-- Hero Section -->
<section id="hero" class="hero section dark-background">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
                <h1>@Model.AppSetting.HeroTitle</h1>
                <p>@Model.AppSetting.HeroSubTitle</p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="@Model.AppSetting.HeroImageUrl" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- /Hero Section -->

<!-- About Section -->
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Hakkımda</h2>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
                @Html.Raw(Model.AppSetting.AboutText)
            </div>

            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="@Model.AppSetting.AboutImageUrl" class="img-fluid animated" alt="">
            </div>

        </div>

    </div>

</section><!-- /About Section -->

<!-- Skills Section -->
<section id="skills" class="skills section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">

            <div class="col-lg-6 d-flex align-items-center">
                <img src="@Model.AppSetting.SkillsImageUrl" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 pt-4 pt-lg-0 content">

                <h3>Becerilerim</h3>
                <p class="fst-italic">
                    Hakim olduğum teknolojiler, bilgi düzeyine göre aşağıda yer almaktadır.
                </p>

                <div class="skills-content skills-animation">
                    @foreach (var skill in Model.Skills)
                    {
                        <div class="progress">
                            <span class="skill"><span>@skill.Name</span> <i class="val">@skill.Rate%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="@skill.Rate" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>

    </div>

</section><!-- /Skills Section -->

<!-- Services Section -->
<section id="services" class="services section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>VERDİĞİM HİZMETLER</h2>
        <p>Profesyonel olarak verdiğim hizmetler için benimle iletişim kurabilirsiniz.</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
            @foreach(var service in Model.Services){
                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item position-relative w-100">
                        <div class="icon"><i class="bi bi-@service.Icon icon"></i></div>
                        <h4><a href="" class="stretched-link">@service.Title</a></h4>
                        <p>@service.Description</p>
                    </div>
                </div>
            }


        </div>

    </div>

</section><!-- /Services Section -->

<!-- Portfolio Section -->
<section id="portfolio" class="portfolio section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Projelerim</h2>
        <p>Çalıştığım teknoloji ve dillerle yapmış olduğum çalışmalara örnekleri aşağıda görebilirsiniz.</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

            <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                <li data-filter="*" class="filter-active">Tümü</li>
                @foreach(var category in Model.Categories)
                {
                    <li data-filter=".filter-@category.Id">@category.Name</li>
                }
            </ul><!-- End Portfolio Filters -->

            <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
                @foreach(var project in Model.Projects)
                {
                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-@project.CategoryId">
                        <img src="@project.ImageUrl" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>@project.Name</h4>
                            <p>@project.Description</p>
                            <a href="@project.ImageUrl" title="@project.Name"
                                data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i
                                    class="bi bi-zoom-in"></i></a>
                            <a href="@project.GithubUrl" title="Github'da görmek için tıklayınız" class="details-link"><i
                                    class="bi bi-link-45deg"></i></a>
                        </div>
                    </div>
                }



            </div><!-- End Portfolio Container -->

        </div>

    </div>

</section><!-- /Portfolio Section -->

<!-- Contact Section -->
<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>İletişim</h2>
        <p>Benimle iletişime geçmek için aşağıdaki formu kullanabilirsiniz.</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-5">

                <div class="info-wrap">
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                        <i class="bi bi-geo-alt flex-shrink-0"></i>
                        <div>
                            <h3>Adres: </h3>
                            <p>@Model.AppSetting.AddressText </p>
                            <p>@Model.AppSetting.AddressDistrict / @Model.AppSetting.AddressCity</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                        <i class="bi bi-telephone flex-shrink-0"></i>
                        <div>
                            <h3>Telefon:</h3>
                            <p>@Model.AppSetting.PhoneNumber</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h3>Email:</h3>
                            <p>@Model.AppSetting.Email</p>
                        </div>
                    </div><!-- End Info Item -->

                    <iframe
                        src="@Model.AppSetting.GoogleMap"
                        frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

            <div class="col-lg-7">
                <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up"
                    data-aos-delay="200">
                    <div class="row gy-4">

                        <div class="col-md-6">
                            <label for="name-field" class="pb-2">Your Name</label>
                            <input type="text" name="name" id="name-field" class="form-control" required="">
                        </div>

                        <div class="col-md-6">
                            <label for="email-field" class="pb-2">Your Email</label>
                            <input type="email" class="form-control" name="email" id="email-field" required="">
                        </div>

                        <div class="col-md-12">
                            <label for="subject-field" class="pb-2">Subject</label>
                            <input type="text" class="form-control" name="subject" id="subject-field" required="">
                        </div>

                        <div class="col-md-12">
                            <label for="message-field" class="pb-2">Message</label>
                            <textarea class="form-control" name="message" rows="10" id="message-field"
                                required=""></textarea>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>

                            <button type="submit">Send Message</button>
                        </div>

                    </div>
                </form>
            </div><!-- End Contact Form -->

        </div>

    </div>

</section><!-- /Contact Section -->
